<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaobaidu.mall.dao.CommStockMapper">

  <resultMap id="BaseResultMap" type="com.xiaobaidu.mall.entity.CommStock">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="comm_code" jdbcType="VARCHAR" property="commCode" />
    <result column="comm_name" jdbcType="VARCHAR" property="commName" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <insert id="insert" parameterType="com.xiaobaidu.mall.entity.CommStock">
    insert into comm_stock (id, comm_code,
      count, remark, creator, 
      create_time, update_time , version)
    values (#{id,jdbcType=VARCHAR}, #{commCode,jdbcType=VARCHAR},
      #{count,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},#{version,jdbcType=INTEGER})
  </insert>
  <update id="uploadByVersion">
      UPDATE comm_stock
      set comm_code = #{commCode,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR} and version &lt; #{version,jdbcType=LONGVARCHAR}

  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, comm_code, count, remark, creator, create_time, update_time,version
    from comm_stock
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByCommCode" resultMap="BaseResultMap">

    select s.id, s.comm_code, c.name as comm_name , s.count,s.version
    from comm_stock s
      left join commodity c on c.code = s.comm_code
    where comm_code = #{commCode,jdbcType=VARCHAR}
  </select>

  <insert id="pullStock" parameterType="com.xiaobaidu.mall.entity.CommStock">
    insert into comm_stock (id, comm_code,
    count, remark, creator,
    create_time, update_time,version )
    values (#{id,jdbcType=VARCHAR}, #{commCode,jdbcType=VARCHAR},
    #{count,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},#{version,jdbcType=INTEGER})
  </insert>

</mapper>